/src/wgftm/mainDatabase.db
/src/wgftm/wgftm/wsgi.pyc
/src/wgftm/wgftm/__init__.pyc
/src/wgftm/wgftm/hostSettings.pyc
/src/wgftm/wgftm/settings.pyc
/src/wgftm/TournamentManager/views.pyc
/src/wgftm/TournamentManager/__init__.pyc
/src/wgftm/TournamentManager/forms.pyc
/src/wgftm/TournamentManager/models.pyc
/src/wgftm/wgftm/urls.pyc
/src/wgftm/wgftm/wsgi.pyc
/src/wgftm/wgftm/__init__.pyc
/src/wgftm/wgftm/hostSettings.pyc
/src/wgftm/wgftm/settings.pyc
/src/wgftm/wgftm/hostSettings.py
/src/wgftm/wgftm/hostSettings.py
/src/wgftm/mainDatabase.db