<head>
   <script>
      function check()
      {
         document.getElementById("is_player").checked=true
      }
      function uncheck()
      {
         document.getElementById("is_player").checked=false
      }
   </script>
</head

{% if form.errors %}
   <div class="err"> The following errors were found with your submission: </div>
   <ul>
      {% for error in form.errors %}
         <li>{{ error }}</li>
      {% endfor %}
   </ul>
{% endif %}

<h2>Winter Gamefest 2013 Profile Edit</h2>
<form method ="post" action="/editprofile/">
   {% csrf_token %}
   <div class="form_field">{{ form.first_name.label_tag }}: {{form.first_name}}</div>
   <div class="form_field">{{ form.last_name.label_tag }}: {{form.last_name}}</div>
   <div class="form_field">{{ form.username.label_tag }}: {{form.username}}</div>
   <div class="form_field">{{ form.password.label_tag }}: {{form.password}}</div>
   <div class="form_field">{{ form.email.label_tag }}: {{form.email}}</div>
   <div class="form_field">{{ form.is_player.label_tag }}: <!--{{form.is_player}}-->
      <input type="checkbox" id="is_player" disabled=true />
      {% if is_player %}
         <script>
            check()
         </script>
      {% else %}
         <script>
            uncheck()
         </script>
      {% endif %}         
   </div>
   <div class="form_field">{{ form.is_ucsd.label_tag }}: {{form.is_ucsd}}</div>
   <div class="form_field">{{ form.is_sixth.label_tag }}: {{form.is_sixth}}</div>
   <input type="submit" value="EditProfile" />
</form>